@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: var(--light-bg-color);
    color: var(--text-color);
}

:root{
    --primary-color: #448943 ;
    --accent-color: #A3B18A ;
    --text-color: #000 ;
    --light-bg-color: rgb(245, 247, 243) ;
    --transparent-bg: rgba(245, 247, 243, 0.65);
    --secondary-color: #26861c;
}


/* header styles */

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo::before {
    content: "";
    display: inline-block;
    width: 42px;
    height: 100px;
    background: url("images/logo.png") center center / cover no-repeat;
    transform: rotate(-15deg);
    vertical-align: middle;
    margin-right: 10px;
}

.logo{
    font-weight: 600;
    font-style: italic;
}

nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

nav .link{
    transition: all 0.3s ease;
    font-weight: 500;
}

nav .link:hover{
    color: var(--accent-color);
}

.button{
    padding: 10px 30px;
    border: 2px solid;
    transition: all 0.3s ease;
    border-radius: 4px;
    font-weight: 600;
}

.button:hover{
    scale: 1.05;
}

.header-button{
    border-color: var(--accent-color);
    color: var(--accent-color);
    font-weight: 700;
}

.header-button:hover{
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 0 2px 2px var(--accent-color);
}

section{
    width: 100%;
    padding: 2rem;
}

footer{
    width: 100%;
}


/* hero styles */

#hero{
    align-items: center;
    text-align: center;
    align-content: center;
    height: 80vh;
    /* display: flex;
    flex-direction: column;
    gap: 2rem */
}

/* #hero img{
    width: 100%;
    height: 100%;

} */

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #eaf2df;
    background: linear-gradient(39deg, rgba(234, 242, 223, 1) 0%, rgba(180, 191, 155, 1) 55%, rgba(204, 237, 173, 1) 96%);
    padding: 10rem 2rem;
    border-radius: 15px;
}

.hero-content *{
    background: none;
}


.hero-content h1 {
    font-size: 4rem;
    color: var(--primary-color);
    text-align: center;
}

.hero-content p{
    font-size: 0.95rem;
    text-align: center;
}

.hero-button{
    margin-top: 15px;
    background-color: var(--primary-color);
    color: var(--light-bg-color);
    border: none;
}

.hero-button:hover{
    background-color: white;
    color: var(--primary-color);

}

/* about styles */

#about{
    display: flex;
    gap: 2rem;
}

.about-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading{
    color: var(--primary-color);
    font-weight: 900;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.about-content h2{
    font-size: 2.5rem;
    color: var(--text-color);

}

.about-content .secondary{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-content h3{
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
}

.about-content p{
    font-size: 1rem;
    line-height: 20px;
    color: var(--text-color);
}

.about-content li::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("images/arrow-right.png") center center / cover no-repeat;
    vertical-align: middle;
}


#about .img-container{
    width: 50%;
    height: auto;
}

#about img{
    max-width: 100%;
    height: auto;
    content: cover;
}





/* services styles */
#services{
    background: #eaf2df;
    background: linear-gradient(39deg, rgba(234, 242, 223, 1) 0%, rgba(180, 191, 155, 1) 55%, rgba(204, 237, 173, 1) 96%);
}



.services-content, .services-content *{
    background: none;
}

.services-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-content h2{
    font-size: 2rem;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
    max-width: 100%;
    flex: 1;
}


.card{
    padding: 1rem;
    width: 350px;
    height: auto;
    background-color: var(--light-bg-color);
    border-radius: 8px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    /* transform: scale(1.02); */
    translate: 0 -5px;
}

.card h3{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.card .price{
    color: rgb(27, 27, 27);
    font-size: 1.4rem;
    font-weight: 800;
    font-family:"Inter" sans-serif;
}

.price-before::before{
    content: "250zł";
    text-decoration: line-through;
    color: grey;
    margin-right: 10px;
}

.card-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-list li::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("images/checks.png") center center / cover no-repeat;
    vertical-align: middle;
}

.card p{
    font-style: italic;
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
    margin: 10px 0;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  margin-bottom: 60px;
}

.stat-box {
  text-align: center;
  width: 200px;
}

.stat-box strong {
  font-size: 40px;
  color: var(--primary-color);
  display: block;
}

.stat-box span {
  font-size: 16px;
  color: black;
}


.services-content p{
    font-style: italic;
}